<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.course.server.mapper.TotalBucketMapper">
  <resultMap id="BaseResultMap" type="com.course.server.domain.TotalBucket">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="subdistrict_office" jdbcType="VARCHAR" property="subdistrictOffice" />
    <result column="community_name" jdbcType="VARCHAR" property="communityName" />
    <result column="households" jdbcType="VARCHAR" property="households" />
    <result column="village_name" jdbcType="VARCHAR" property="villageName" />
    <result column="building_attribute" jdbcType="VARCHAR" property="buildingAttribute" />
    <result column="regular_release" jdbcType="VARCHAR" property="regularRelease" />
    <result column="regular_collection" jdbcType="VARCHAR" property="regularCollection" />
    <result column="daytime_collection" jdbcType="VARCHAR" property="daytimeCollection" />
    <result column="red_black" jdbcType="VARCHAR" property="redBlack" />
    <result column="bonus_points" jdbcType="VARCHAR" property="bonusPoints" />
    <result column="specific_address" jdbcType="VARCHAR" property="specificAddress" />
    <result column="bucket_points_number" jdbcType="VARCHAR" property="bucketPointsNumber" />
    <result column="bucket_points_type" jdbcType="VARCHAR" property="bucketPointsType" />
    <result column="bucket_points_id" jdbcType="VARCHAR" property="bucketPointsId" />
    <result column="bucket_points_position" jdbcType="VARCHAR" property="bucketPointsPosition" />
    <result column="recyclable_collection" jdbcType="VARCHAR" property="recyclableCollection" />
    <result column="harmful_collection" jdbcType="VARCHAR" property="harmfulCollection" />
    <result column="other_collection" jdbcType="VARCHAR" property="otherCollection" />
    <result column="kitchen_collection" jdbcType="VARCHAR" property="kitchenCollection" />
    <result column="big_collection" jdbcType="VARCHAR" property="bigCollection" />
    <result column="weighing_fun" jdbcType="VARCHAR" property="weighingFun" />
    <result column="video_surveillance" jdbcType="VARCHAR" property="videoSurveillance" />
    <result column="integral_fun" jdbcType="VARCHAR" property="integralFun" />
    <result column="storage_room" jdbcType="VARCHAR" property="storageRoom" />
    <result column="restroom" jdbcType="VARCHAR" property="restroom" />
    <result column="bucket_room" jdbcType="VARCHAR" property="bucketRoom" />
    <result column="indicator_bar" jdbcType="VARCHAR" property="indicatorBar" />
    <result column="Billboard" jdbcType="VARCHAR" property="billboard" />
    <result column="publicity_column" jdbcType="VARCHAR" property="publicityColumn" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, subdistrict_office, community_name, households, village_name, building_attribute, 
    regular_release, regular_collection, daytime_collection, red_black, bonus_points, 
    specific_address, bucket_points_number, bucket_points_type, bucket_points_id, bucket_points_position, 
    recyclable_collection, harmful_collection, other_collection, kitchen_collection, 
    big_collection, weighing_fun, video_surveillance, integral_fun, storage_room, restroom, 
    bucket_room, indicator_bar, Billboard, publicity_column
  </sql>
  <select id="selectByExample" parameterType="com.course.server.domain.TotalBucketExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_cfg_total_bucket
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_cfg_total_bucket
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_cfg_total_bucket
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.course.server.domain.TotalBucketExample">
    delete from t_cfg_total_bucket
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.course.server.domain.TotalBucket">
    insert into t_cfg_total_bucket (id, subdistrict_office, community_name, 
      households, village_name, building_attribute, 
      regular_release, regular_collection, daytime_collection, 
      red_black, bonus_points, specific_address, 
      bucket_points_number, bucket_points_type, bucket_points_id, 
      bucket_points_position, recyclable_collection, 
      harmful_collection, other_collection, kitchen_collection, 
      big_collection, weighing_fun, video_surveillance, 
      integral_fun, storage_room, restroom, 
      bucket_room, indicator_bar, Billboard, 
      publicity_column)
    values (#{id,jdbcType=INTEGER}, #{subdistrictOffice,jdbcType=VARCHAR}, #{communityName,jdbcType=VARCHAR}, 
      #{households,jdbcType=VARCHAR}, #{villageName,jdbcType=VARCHAR}, #{buildingAttribute,jdbcType=VARCHAR}, 
      #{regularRelease,jdbcType=VARCHAR}, #{regularCollection,jdbcType=VARCHAR}, #{daytimeCollection,jdbcType=VARCHAR}, 
      #{redBlack,jdbcType=VARCHAR}, #{bonusPoints,jdbcType=VARCHAR}, #{specificAddress,jdbcType=VARCHAR}, 
      #{bucketPointsNumber,jdbcType=VARCHAR}, #{bucketPointsType,jdbcType=VARCHAR}, #{bucketPointsId,jdbcType=VARCHAR}, 
      #{bucketPointsPosition,jdbcType=VARCHAR}, #{recyclableCollection,jdbcType=VARCHAR}, 
      #{harmfulCollection,jdbcType=VARCHAR}, #{otherCollection,jdbcType=VARCHAR}, #{kitchenCollection,jdbcType=VARCHAR}, 
      #{bigCollection,jdbcType=VARCHAR}, #{weighingFun,jdbcType=VARCHAR}, #{videoSurveillance,jdbcType=VARCHAR}, 
      #{integralFun,jdbcType=VARCHAR}, #{storageRoom,jdbcType=VARCHAR}, #{restroom,jdbcType=VARCHAR}, 
      #{bucketRoom,jdbcType=VARCHAR}, #{indicatorBar,jdbcType=VARCHAR}, #{billboard,jdbcType=VARCHAR}, 
      #{publicityColumn,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.course.server.domain.TotalBucket">
    insert into t_cfg_total_bucket
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="subdistrictOffice != null">
        subdistrict_office,
      </if>
      <if test="communityName != null">
        community_name,
      </if>
      <if test="households != null">
        households,
      </if>
      <if test="villageName != null">
        village_name,
      </if>
      <if test="buildingAttribute != null">
        building_attribute,
      </if>
      <if test="regularRelease != null">
        regular_release,
      </if>
      <if test="regularCollection != null">
        regular_collection,
      </if>
      <if test="daytimeCollection != null">
        daytime_collection,
      </if>
      <if test="redBlack != null">
        red_black,
      </if>
      <if test="bonusPoints != null">
        bonus_points,
      </if>
      <if test="specificAddress != null">
        specific_address,
      </if>
      <if test="bucketPointsNumber != null">
        bucket_points_number,
      </if>
      <if test="bucketPointsType != null">
        bucket_points_type,
      </if>
      <if test="bucketPointsId != null">
        bucket_points_id,
      </if>
      <if test="bucketPointsPosition != null">
        bucket_points_position,
      </if>
      <if test="recyclableCollection != null">
        recyclable_collection,
      </if>
      <if test="harmfulCollection != null">
        harmful_collection,
      </if>
      <if test="otherCollection != null">
        other_collection,
      </if>
      <if test="kitchenCollection != null">
        kitchen_collection,
      </if>
      <if test="bigCollection != null">
        big_collection,
      </if>
      <if test="weighingFun != null">
        weighing_fun,
      </if>
      <if test="videoSurveillance != null">
        video_surveillance,
      </if>
      <if test="integralFun != null">
        integral_fun,
      </if>
      <if test="storageRoom != null">
        storage_room,
      </if>
      <if test="restroom != null">
        restroom,
      </if>
      <if test="bucketRoom != null">
        bucket_room,
      </if>
      <if test="indicatorBar != null">
        indicator_bar,
      </if>
      <if test="billboard != null">
        Billboard,
      </if>
      <if test="publicityColumn != null">
        publicity_column,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="subdistrictOffice != null">
        #{subdistrictOffice,jdbcType=VARCHAR},
      </if>
      <if test="communityName != null">
        #{communityName,jdbcType=VARCHAR},
      </if>
      <if test="households != null">
        #{households,jdbcType=VARCHAR},
      </if>
      <if test="villageName != null">
        #{villageName,jdbcType=VARCHAR},
      </if>
      <if test="buildingAttribute != null">
        #{buildingAttribute,jdbcType=VARCHAR},
      </if>
      <if test="regularRelease != null">
        #{regularRelease,jdbcType=VARCHAR},
      </if>
      <if test="regularCollection != null">
        #{regularCollection,jdbcType=VARCHAR},
      </if>
      <if test="daytimeCollection != null">
        #{daytimeCollection,jdbcType=VARCHAR},
      </if>
      <if test="redBlack != null">
        #{redBlack,jdbcType=VARCHAR},
      </if>
      <if test="bonusPoints != null">
        #{bonusPoints,jdbcType=VARCHAR},
      </if>
      <if test="specificAddress != null">
        #{specificAddress,jdbcType=VARCHAR},
      </if>
      <if test="bucketPointsNumber != null">
        #{bucketPointsNumber,jdbcType=VARCHAR},
      </if>
      <if test="bucketPointsType != null">
        #{bucketPointsType,jdbcType=VARCHAR},
      </if>
      <if test="bucketPointsId != null">
        #{bucketPointsId,jdbcType=VARCHAR},
      </if>
      <if test="bucketPointsPosition != null">
        #{bucketPointsPosition,jdbcType=VARCHAR},
      </if>
      <if test="recyclableCollection != null">
        #{recyclableCollection,jdbcType=VARCHAR},
      </if>
      <if test="harmfulCollection != null">
        #{harmfulCollection,jdbcType=VARCHAR},
      </if>
      <if test="otherCollection != null">
        #{otherCollection,jdbcType=VARCHAR},
      </if>
      <if test="kitchenCollection != null">
        #{kitchenCollection,jdbcType=VARCHAR},
      </if>
      <if test="bigCollection != null">
        #{bigCollection,jdbcType=VARCHAR},
      </if>
      <if test="weighingFun != null">
        #{weighingFun,jdbcType=VARCHAR},
      </if>
      <if test="videoSurveillance != null">
        #{videoSurveillance,jdbcType=VARCHAR},
      </if>
      <if test="integralFun != null">
        #{integralFun,jdbcType=VARCHAR},
      </if>
      <if test="storageRoom != null">
        #{storageRoom,jdbcType=VARCHAR},
      </if>
      <if test="restroom != null">
        #{restroom,jdbcType=VARCHAR},
      </if>
      <if test="bucketRoom != null">
        #{bucketRoom,jdbcType=VARCHAR},
      </if>
      <if test="indicatorBar != null">
        #{indicatorBar,jdbcType=VARCHAR},
      </if>
      <if test="billboard != null">
        #{billboard,jdbcType=VARCHAR},
      </if>
      <if test="publicityColumn != null">
        #{publicityColumn,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.course.server.domain.TotalBucketExample" resultType="java.lang.Long">
    select count(*) from t_cfg_total_bucket
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_cfg_total_bucket
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.subdistrictOffice != null">
        subdistrict_office = #{record.subdistrictOffice,jdbcType=VARCHAR},
      </if>
      <if test="record.communityName != null">
        community_name = #{record.communityName,jdbcType=VARCHAR},
      </if>
      <if test="record.households != null">
        households = #{record.households,jdbcType=VARCHAR},
      </if>
      <if test="record.villageName != null">
        village_name = #{record.villageName,jdbcType=VARCHAR},
      </if>
      <if test="record.buildingAttribute != null">
        building_attribute = #{record.buildingAttribute,jdbcType=VARCHAR},
      </if>
      <if test="record.regularRelease != null">
        regular_release = #{record.regularRelease,jdbcType=VARCHAR},
      </if>
      <if test="record.regularCollection != null">
        regular_collection = #{record.regularCollection,jdbcType=VARCHAR},
      </if>
      <if test="record.daytimeCollection != null">
        daytime_collection = #{record.daytimeCollection,jdbcType=VARCHAR},
      </if>
      <if test="record.redBlack != null">
        red_black = #{record.redBlack,jdbcType=VARCHAR},
      </if>
      <if test="record.bonusPoints != null">
        bonus_points = #{record.bonusPoints,jdbcType=VARCHAR},
      </if>
      <if test="record.specificAddress != null">
        specific_address = #{record.specificAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.bucketPointsNumber != null">
        bucket_points_number = #{record.bucketPointsNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.bucketPointsType != null">
        bucket_points_type = #{record.bucketPointsType,jdbcType=VARCHAR},
      </if>
      <if test="record.bucketPointsId != null">
        bucket_points_id = #{record.bucketPointsId,jdbcType=VARCHAR},
      </if>
      <if test="record.bucketPointsPosition != null">
        bucket_points_position = #{record.bucketPointsPosition,jdbcType=VARCHAR},
      </if>
      <if test="record.recyclableCollection != null">
        recyclable_collection = #{record.recyclableCollection,jdbcType=VARCHAR},
      </if>
      <if test="record.harmfulCollection != null">
        harmful_collection = #{record.harmfulCollection,jdbcType=VARCHAR},
      </if>
      <if test="record.otherCollection != null">
        other_collection = #{record.otherCollection,jdbcType=VARCHAR},
      </if>
      <if test="record.kitchenCollection != null">
        kitchen_collection = #{record.kitchenCollection,jdbcType=VARCHAR},
      </if>
      <if test="record.bigCollection != null">
        big_collection = #{record.bigCollection,jdbcType=VARCHAR},
      </if>
      <if test="record.weighingFun != null">
        weighing_fun = #{record.weighingFun,jdbcType=VARCHAR},
      </if>
      <if test="record.videoSurveillance != null">
        video_surveillance = #{record.videoSurveillance,jdbcType=VARCHAR},
      </if>
      <if test="record.integralFun != null">
        integral_fun = #{record.integralFun,jdbcType=VARCHAR},
      </if>
      <if test="record.storageRoom != null">
        storage_room = #{record.storageRoom,jdbcType=VARCHAR},
      </if>
      <if test="record.restroom != null">
        restroom = #{record.restroom,jdbcType=VARCHAR},
      </if>
      <if test="record.bucketRoom != null">
        bucket_room = #{record.bucketRoom,jdbcType=VARCHAR},
      </if>
      <if test="record.indicatorBar != null">
        indicator_bar = #{record.indicatorBar,jdbcType=VARCHAR},
      </if>
      <if test="record.billboard != null">
        Billboard = #{record.billboard,jdbcType=VARCHAR},
      </if>
      <if test="record.publicityColumn != null">
        publicity_column = #{record.publicityColumn,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_cfg_total_bucket
    set id = #{record.id,jdbcType=INTEGER},
      subdistrict_office = #{record.subdistrictOffice,jdbcType=VARCHAR},
      community_name = #{record.communityName,jdbcType=VARCHAR},
      households = #{record.households,jdbcType=VARCHAR},
      village_name = #{record.villageName,jdbcType=VARCHAR},
      building_attribute = #{record.buildingAttribute,jdbcType=VARCHAR},
      regular_release = #{record.regularRelease,jdbcType=VARCHAR},
      regular_collection = #{record.regularCollection,jdbcType=VARCHAR},
      daytime_collection = #{record.daytimeCollection,jdbcType=VARCHAR},
      red_black = #{record.redBlack,jdbcType=VARCHAR},
      bonus_points = #{record.bonusPoints,jdbcType=VARCHAR},
      specific_address = #{record.specificAddress,jdbcType=VARCHAR},
      bucket_points_number = #{record.bucketPointsNumber,jdbcType=VARCHAR},
      bucket_points_type = #{record.bucketPointsType,jdbcType=VARCHAR},
      bucket_points_id = #{record.bucketPointsId,jdbcType=VARCHAR},
      bucket_points_position = #{record.bucketPointsPosition,jdbcType=VARCHAR},
      recyclable_collection = #{record.recyclableCollection,jdbcType=VARCHAR},
      harmful_collection = #{record.harmfulCollection,jdbcType=VARCHAR},
      other_collection = #{record.otherCollection,jdbcType=VARCHAR},
      kitchen_collection = #{record.kitchenCollection,jdbcType=VARCHAR},
      big_collection = #{record.bigCollection,jdbcType=VARCHAR},
      weighing_fun = #{record.weighingFun,jdbcType=VARCHAR},
      video_surveillance = #{record.videoSurveillance,jdbcType=VARCHAR},
      integral_fun = #{record.integralFun,jdbcType=VARCHAR},
      storage_room = #{record.storageRoom,jdbcType=VARCHAR},
      restroom = #{record.restroom,jdbcType=VARCHAR},
      bucket_room = #{record.bucketRoom,jdbcType=VARCHAR},
      indicator_bar = #{record.indicatorBar,jdbcType=VARCHAR},
      Billboard = #{record.billboard,jdbcType=VARCHAR},
      publicity_column = #{record.publicityColumn,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.course.server.domain.TotalBucket">
    update t_cfg_total_bucket
    <set>
      <if test="subdistrictOffice != null">
        subdistrict_office = #{subdistrictOffice,jdbcType=VARCHAR},
      </if>
      <if test="communityName != null">
        community_name = #{communityName,jdbcType=VARCHAR},
      </if>
      <if test="households != null">
        households = #{households,jdbcType=VARCHAR},
      </if>
      <if test="villageName != null">
        village_name = #{villageName,jdbcType=VARCHAR},
      </if>
      <if test="buildingAttribute != null">
        building_attribute = #{buildingAttribute,jdbcType=VARCHAR},
      </if>
      <if test="regularRelease != null">
        regular_release = #{regularRelease,jdbcType=VARCHAR},
      </if>
      <if test="regularCollection != null">
        regular_collection = #{regularCollection,jdbcType=VARCHAR},
      </if>
      <if test="daytimeCollection != null">
        daytime_collection = #{daytimeCollection,jdbcType=VARCHAR},
      </if>
      <if test="redBlack != null">
        red_black = #{redBlack,jdbcType=VARCHAR},
      </if>
      <if test="bonusPoints != null">
        bonus_points = #{bonusPoints,jdbcType=VARCHAR},
      </if>
      <if test="specificAddress != null">
        specific_address = #{specificAddress,jdbcType=VARCHAR},
      </if>
      <if test="bucketPointsNumber != null">
        bucket_points_number = #{bucketPointsNumber,jdbcType=VARCHAR},
      </if>
      <if test="bucketPointsType != null">
        bucket_points_type = #{bucketPointsType,jdbcType=VARCHAR},
      </if>
      <if test="bucketPointsId != null">
        bucket_points_id = #{bucketPointsId,jdbcType=VARCHAR},
      </if>
      <if test="bucketPointsPosition != null">
        bucket_points_position = #{bucketPointsPosition,jdbcType=VARCHAR},
      </if>
      <if test="recyclableCollection != null">
        recyclable_collection = #{recyclableCollection,jdbcType=VARCHAR},
      </if>
      <if test="harmfulCollection != null">
        harmful_collection = #{harmfulCollection,jdbcType=VARCHAR},
      </if>
      <if test="otherCollection != null">
        other_collection = #{otherCollection,jdbcType=VARCHAR},
      </if>
      <if test="kitchenCollection != null">
        kitchen_collection = #{kitchenCollection,jdbcType=VARCHAR},
      </if>
      <if test="bigCollection != null">
        big_collection = #{bigCollection,jdbcType=VARCHAR},
      </if>
      <if test="weighingFun != null">
        weighing_fun = #{weighingFun,jdbcType=VARCHAR},
      </if>
      <if test="videoSurveillance != null">
        video_surveillance = #{videoSurveillance,jdbcType=VARCHAR},
      </if>
      <if test="integralFun != null">
        integral_fun = #{integralFun,jdbcType=VARCHAR},
      </if>
      <if test="storageRoom != null">
        storage_room = #{storageRoom,jdbcType=VARCHAR},
      </if>
      <if test="restroom != null">
        restroom = #{restroom,jdbcType=VARCHAR},
      </if>
      <if test="bucketRoom != null">
        bucket_room = #{bucketRoom,jdbcType=VARCHAR},
      </if>
      <if test="indicatorBar != null">
        indicator_bar = #{indicatorBar,jdbcType=VARCHAR},
      </if>
      <if test="billboard != null">
        Billboard = #{billboard,jdbcType=VARCHAR},
      </if>
      <if test="publicityColumn != null">
        publicity_column = #{publicityColumn,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.course.server.domain.TotalBucket">
    update t_cfg_total_bucket
    set subdistrict_office = #{subdistrictOffice,jdbcType=VARCHAR},
      community_name = #{communityName,jdbcType=VARCHAR},
      households = #{households,jdbcType=VARCHAR},
      village_name = #{villageName,jdbcType=VARCHAR},
      building_attribute = #{buildingAttribute,jdbcType=VARCHAR},
      regular_release = #{regularRelease,jdbcType=VARCHAR},
      regular_collection = #{regularCollection,jdbcType=VARCHAR},
      daytime_collection = #{daytimeCollection,jdbcType=VARCHAR},
      red_black = #{redBlack,jdbcType=VARCHAR},
      bonus_points = #{bonusPoints,jdbcType=VARCHAR},
      specific_address = #{specificAddress,jdbcType=VARCHAR},
      bucket_points_number = #{bucketPointsNumber,jdbcType=VARCHAR},
      bucket_points_type = #{bucketPointsType,jdbcType=VARCHAR},
      bucket_points_id = #{bucketPointsId,jdbcType=VARCHAR},
      bucket_points_position = #{bucketPointsPosition,jdbcType=VARCHAR},
      recyclable_collection = #{recyclableCollection,jdbcType=VARCHAR},
      harmful_collection = #{harmfulCollection,jdbcType=VARCHAR},
      other_collection = #{otherCollection,jdbcType=VARCHAR},
      kitchen_collection = #{kitchenCollection,jdbcType=VARCHAR},
      big_collection = #{bigCollection,jdbcType=VARCHAR},
      weighing_fun = #{weighingFun,jdbcType=VARCHAR},
      video_surveillance = #{videoSurveillance,jdbcType=VARCHAR},
      integral_fun = #{integralFun,jdbcType=VARCHAR},
      storage_room = #{storageRoom,jdbcType=VARCHAR},
      restroom = #{restroom,jdbcType=VARCHAR},
      bucket_room = #{bucketRoom,jdbcType=VARCHAR},
      indicator_bar = #{indicatorBar,jdbcType=VARCHAR},
      Billboard = #{billboard,jdbcType=VARCHAR},
      publicity_column = #{publicityColumn,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>